@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "DM Sans", sans-serif;
}

.ant-select-selector{
    border-color:#E0E0E0 !important;
    border-radius: 24px !important;
    outline: none !important;
    box-shadow: none !important;
}

#banner .ant-select-selector{
    border:none !important;
    outline: none !important;
    box-shadow: none !important;
}

.ant-select-selector:hover {
    border-color:#E0E0E0 !important;
}

#search-filter .ant-select .ant-select-arrow{
    inset-inline-end: 4px !important;
    padding: 0 !important;
    background-color: transparent !important;
}

#search-filter .ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    border: none;
    background: transparent;
}

.customSelect .ant-select .ant-select-arrow{
    inset-inline-end: 6px !important;
}

.ant-otp-input{
    height: 50px !important;
    width: 50px !important;
}

.otp .ant-input-outlined{
    border-color: #818181 !important;
}

.ant-pagination-item{
    border-radius: 100% !important;
}
.ant-pagination .ant-pagination-item-active {
    font-weight: 600;
    background-color: #FF9773 !important;
    border: none !important;
    border-color: none !important;
    border-radius: 100%;
}
  
.ant-pagination .ant-pagination-item-active a {
    color: #ffffff !important;
}

/* slick slider slide item between padding */
.slick-slider .slick-slide {
    padding: 0 8px !important;
}

/* review section priority card css */
.slide-active{
    filter: blur(0) !important;
    opacity: 1 !important;
    transform: scale(0.9) !important;
}

.slide{
    width: 100%;
    transform: scale(.7);
    transition: .5s;
    filter: blur(1px);
}

.custom-dots {
    display: flex !important;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.custom-dot {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.custom-dot-active .dot-indicator {
    width: 30px;
    border-radius: 8px;
    background-color: #DB950B; /* Active dot color */
    transition: width 2s ease-in-out !important;
}

.dot-indicator {
    width: 10px;
    height: 10px;
    background-color: #D9D9D9; /* Default dot color */
    border-radius: 50%;
    display: block;
}

/* calender font color  */

.ant-picker-calendar .ant-picker-cell-disabled::before{
    background: transparent !important;
}

.ant-picker-cell-disabled .ant-picker-cell-inner {
    color: red;
}

.ant-picker-calendar .ant-picker-date-panel .ant-picker-content th{
    font-weight: 700 !important;
}

.style-checkbox .ant-checkbox-checked .ant-checkbox-inner{
    background-color: #00809E !important;
    border-color: #00809E !important;
}

.ant-upload-select{
    width: 100%;
}


/* Custom Scrollbar for a specific container */
.chat::-webkit-scrollbar ,.custom-scrollbar-container::-webkit-scrollbar {
    width: 10px;
}
  
.chat::-webkit-scrollbar-track , .custom-scrollbar-container::-webkit-scrollbar-track {
    background: #D9D9D9;
    border-radius: 10px;
}
  
.chat::-webkit-scrollbar-thumb, .custom-scrollbar-container::-webkit-scrollbar-thumb {
    background: #007490;
    border-radius: 10px;
}
  
.custom-scrollbar-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* language changeing */
#language-change .ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector{
    border: none !important;
    background: transparent !important ;
    color: #F7F7F7;
    font-size: 16px;
    font-weight: 400;
    padding: 0 !important;
}


.priceSlider .ant-form-item .ant-form-item-label >label{
    display: block !important;
    height: 28px !important;
}